<h2 class="text-center my-5 text-verde"> ¡BIENVENIDOS Al APP DE PRUEBA  </h2>




<div class="container center d-flex">
    <iframe width="1024" height="720" src="https://es.wikipedia.org/wiki/Angular_(framework)"></iframe>
    <iframe width="1024" height="720" src="https://www.youtube.com/embed/Yh0uZiFZRIg?list=RDEMKN-XxUvwW51UD8U44PwBQw" title="Jhonny Rivera y Francisco Gomez -Tomando Cerveza (Video Oficial)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div class="container center">

</div>